.Header {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.LogoImage {
    display: block;
    width: 25%;
    height: 25%;
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

.HeaderTitle {
    margin: auto;
}